*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    transition: all 0.3s;
    color: var(--primary-color);
    border-color: var(--primary-color) !important;
    box-sizing: border-box;
}

body{
    background: #080808;
    overflow-x: hidden;
}

:root{
    --primary-color: #f5f5f5;
    --main-color: #ff004f;
    --bg-color: #f5f5f5;
    --bd-color: #080808;
    --link-color: #ff004f;
    --link-h-color: #dd0046;
}

.none{
    visibility: hidden !important;
}

.search-box-main{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #0000006e;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
}

#searchPopupBoxMain{
    display: none;
}

#searchPopupBox{
    background: var(--main-color);
    width: 70%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    position: relative;
}

#PopUpSearchForm{
    width: 90%;
    display: flex;
    justify-content: center;
    gap: 5px;
}

#PopUpSearchForm input{
    color: var(--bd-color);
    font-weight: 600;
    height: 50px;
    width: 50%;
    padding: 10px;
    border: 1px solid var(--primary-color) !important;
    background: var();
    outline: none;
    border-radius: 3px;
}

#PopUpSearchForm button{
    background: var(--link-h-color);
    padding: 0 30px;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid var(--primary-color) !important;
    cursor: pointer;
    border-radius: 3px;
}

#PopUpSearchForm button:hover{
    background: var(--primary-color);
    color: var(--main-color);
}

#searchBoxClose{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

.hero-section-main{
    height: 102vh;
    background-image: url("/assets/default/img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 800px;
    border-bottom: 5px solid var(--main-color) !important;
}

.hero-section{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top, 
        rgba(0, 0, 0, 0.7) 100%, 
        rgba(0, 0, 0, 0) 60%, 
        rgba(0, 0, 0, 0.8) 100%);
    
}

nav{
    height: 80px;
}

.navbar{
    align-items: center;
    width: 90%;
    height: 100%;
    margin: auto;
    max-width: 1550px;
    align-items: center;
    padding: 0 !important;
}


.nav-boxes{
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-left-box{
    width: 25%;
}

.nav-center-box{
    width: 50%;
    display: flex;
    justify-content: center;
}

.nav-right-box{
    width: 25%;
    display: flex;
    justify-content: right;
}

.nav-left-box img{
    height: 70px;
}

.nav-center-content ul{
    display: flex;
    gap: 18px;
    margin-bottom: 0;
}

.nav-center-content ul li{
    list-style: none;
    color: var(--primary-color);
    font-size: 18px;
}

.nav-center-content ul li a{
    color: var(--primary-color);
    text-decoration: none;
}

.nav-center-content ul li a:hover{
    color: var(--link-color);
}

.nav-search-icon{
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--main-color);
    border-radius: 3px;
    cursor: pointer;
}

.nav-search-icon i{
    color: var(--primary-color);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* hero-content */

.hero-content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 86%;
}

.hero-content .hero-content-items{
    text-align: center;
}

.hero-content .hero-content-items h1{
    font-size: 3rem;
    font-weight: 700;
}

.hero-content .hero-content-items h5{
    margin-top: 20px;
}

.hero-search-box{
    margin-top: 20px;
    height: 50px;
}

.hero-search-box form{
    height: 100%;
}

.hero-search-box #searchInput{
    border: 1px solid var(--primary-color) !important;
    outline: none;
    height: 100%;
    width: 350px;
    border-radius: 4px;
    padding: 0 10px;
    background: #00000070;
    font-weight: 600;
    color: var(--primary-color);
}

.hero-search-box #searchInput:focus{
    border: 1px solid var(--main-color) !important;
}

.hero-search-box button{
    border: none;
    height: 100%;
    background: var(--main-color);
    padding: 0 30px;
    border-radius: 4px;
    font-weight: 700;
}

.hero-search-box button:hover{
    background: var(--link-h-color);
}

#sideOpen, #sideClose{
    display: none;
}


@media only screen and (max-width: 888px) {

    #sideOpen, #sideClose{
        display: block;
    }

    #sideOpen{
        color: var(--main-color);
    }
    
    .nav-right-box{
        display: none;
    }

    .nav-center-box{
        position: fixed;
        right: -500px;
        top: 0;
        height: 100vh;
        display: block;
        background: var(--main-color);
        z-index: 1000;
    }

    .nav-center-content{
        padding: 15px;
    }

    .nav-center-box .nav-center-content #navLinksUl{
        display: block;
    }

    .nav-center-box .nav-center-content #navLinksUl li{
        padding: 12px 0;
    }

    .nav-center-content ul li a:hover{
        color: var(--bd-color)
    }

    .nav-center-content i{
        font-size: 26px;
        cursor: pointer;
    }

    .navbar #sideOpen{
        font-size: 26px;
        cursor: pointer;
    }

    .hero-content .hero-content-title{
        font-size: 32px !important;
        padding: 0 10px;
    }
}

@media only screen and (max-width: 500px){
    .hero-section-main{
        max-height: 500px;
    }
}

@media only screen and (max-width: 480px){
    .hero-content .hero-content-title{
        font-size: 26px !important;
        padding: 0 10px;
    }

    .hero-content h5{
        font-size: 16px;
    }

    .hero-search-box{
        height: auto;
    }

    .hero-search-box #searchInput{
        height: 46px;
        width: 80%;
    }

    .hero-search-box button{
        height: 40px;
        margin-top: 15px;
    }
}

/* recent-movies */

.recent-movies, .popular-movies{
    padding: 30px 0 !important;
    width: 90%;
    margin: auto;
    max-width: 1550px;
    margin-top: 40px;
}

.category-title{
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 15px;
    color: var(--primary-color);
}

.recent-row, .popular-row{
    width: 100%;
    display: flex;
    gap: 4px;
    justify-content: space-between;
    align-items: center;
}

.movie{
    height: 370px;
    width: 19%;
    overflow: hidden;
    border-radius: 8px;
    background: var(--main-color);
    padding: 8px;
    margin-bottom: 10px;
}

.movie a{
    text-decoration: none;
}

.movie a:hover .movie-img-box img{
    width: 105%;
}

.movie-link-box{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.movie-img-box{
    width: 100%;
    height: 85%;
    border-radius: 6px;
    overflow: hidden;
}

.movie-img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.movie-title-box p{
    font-size: 15px;
    font-weight: 700;
    color: var(--primary-color);
    line-height: 1.4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
    margin-top: 8px;
}