*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    transition: all 0.3s;
    color: var(--primary-color);
    border-color: var(--primary-color) !important;
    box-sizing: border-box;
}

body{
    background: #080808;
    overflow-x: hidden;
}

:root{
    --primary-color: #f5f5f5;
    --main-color: #ff004f;
    --bg-color: #f5f5f5;
    --bd-color: #080808;
    --link-color: #ff004f;
    --link-h-color: #dd0046;
    --footer-bg-color: rgb(38, 38, 38);
    --footer-link-color: rgb(171, 171, 171);
}

.none{
    visibility: hidden !important;
}

.search-box-main{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #0000006e;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
}

#searchPopupBoxMain{
    display: none;
}

#searchPopupBox{
    background: var(--main-color);
    width: 70%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    position: relative;
}

#PopUpSearchForm{
    width: 90%;
    display: flex;
    justify-content: center;
    gap: 5px;
}

#PopUpSearchForm input{
    color: var(--bd-color);
    font-weight: 600;
    height: 50px;
    width: 50%;
    padding: 10px;
    border: 1px solid var(--primary-color) !important;
    background: var();
    outline: none;
    border-radius: 3px;
}

#PopUpSearchForm button{
    background: var(--link-h-color);
    padding: 0 30px;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid var(--primary-color) !important;
    cursor: pointer;
    border-radius: 3px;
}

#PopUpSearchForm button:hover{
    background: var(--primary-color);
    color: var(--main-color);
}

#searchBoxClose{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

.hero-section-main{
    height: 102vh;
    background-image: url("/assets/default/img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 800px;
    border-bottom: 5px solid var(--main-color) !important;
}

.hero-section{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top, 
        rgba(0, 0, 0, 0.7) 100%, 
        rgba(0, 0, 0, 0) 60%, 
        rgba(0, 0, 0, 0.8) 100%);
    
}

nav{
    height: 80px;
}

.navbar{
    display: flex;
    align-items: center;
    width: 90%;
    height: 100%;
    margin: auto;
    max-width: 1550px;
    align-items: center;
    padding: 0 !important;
}


.nav-boxes{
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-left-box{
    width: 25%;
}

.nav-center-box{
    width: 50%;
    display: flex;
    justify-content: center;
}

.nav-right-box{
    width: 25%;
    display: flex;
    justify-content: right;
}

.nav-left-box img{
    height: 70px;
}

.nav-center-content ul{
    display: flex;
    gap: 18px;
    margin-bottom: 0;
}

.nav-center-content ul li{
    list-style: none;
    color: var(--primary-color);
    font-size: 18px;
}

.nav-center-content ul li a{
    color: var(--primary-color);
    text-decoration: none;
}

.nav-center-content ul li a:hover{
    color: var(--link-color);
}

.nav-search-icon{
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--main-color);
    border-radius: 3px;
    cursor: pointer;
}

.nav-search-icon i{
    color: var(--primary-color);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* hero-content */

.hero-content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 86%;
}

.hero-content .hero-content-items{
    text-align: center;
}

.hero-content .hero-content-items h1{
    font-size: 3rem;
    font-weight: 700;
}

.hero-content .hero-content-items h5{
    margin-top: 20px;
    font-size: 1.25rem;
}

.hero-search-box{
    margin-top: 20px;
    height: 50px;
}

.hero-search-box form{
    height: 100%;
}

.hero-search-box #searchInput{
    border: 1px solid var(--primary-color) !important;
    outline: none;
    height: 100%;
    width: 350px;
    border-radius: 4px;
    padding: 0 10px;
    background: #00000070;
    font-weight: 600;
    color: var(--primary-color);
}

.hero-search-box #searchInput:focus{
    border: 1px solid var(--main-color) !important;
}

.hero-search-box button{
    border: none;
    height: 100%;
    background: var(--main-color);
    padding: 0 30px;
    border-radius: 4px;
    font-weight: 700;
}

.hero-search-box button:hover{
    background: var(--link-h-color);
}

#sideOpen, #sideClose{
    display: none;
}


@media only screen and (max-width: 888px) {

    #sideOpen, #sideClose{
        display: block;
    }

    #sideOpen{
        color: var(--main-color);
        position: absolute;
        top: 20px;
        right: 30px;
    }
    
    .nav-right-box{
        display: none;
    }

    .nav-center-box{
        position: fixed;
        right: -500px;
        top: 0;
        height: 100vh;
        display: block;
        background: var(--main-color);
        z-index: 1000;
    }

    .nav-center-content{
        padding: 15px;
    }

    .nav-center-box .nav-center-content #navLinksUl{
        display: block;
    }

    .nav-center-box .nav-center-content #navLinksUl li{
        padding: 12px 0;
    }

    .nav-center-content ul li a:hover{
        color: var(--bd-color)
    }

    .nav-center-content i{
        font-size: 26px;
        cursor: pointer;
    }

    .navbar #sideOpen{
        font-size: 26px;
        cursor: pointer;
    }

    .hero-content .hero-content-title{
        font-size: 32px !important;
        padding: 0 10px;
    }
}

@media only screen and (max-width: 500px){
    .hero-section-main{
        max-height: 500px;
    }
}

@media only screen and (max-width: 480px){
    .hero-content .hero-content-title{
        font-size: 26px !important;
        padding: 0 10px;
    }

    .hero-content h5{
        font-size: 16px;
    }

    .hero-search-box{
        height: auto;
    }

    .hero-search-box #searchInput{
        height: 46px;
        width: 80%;
    }

    .hero-search-box button{
        height: 40px;
        margin-top: 15px;
    }
}

/* recent-movies */

.recent-movies, .popular-movies{
    padding: 30px 0 !important;
    width: 90%;
    margin: auto;
    max-width: 1550px;
    margin-top: 40px;
}

.recent-movies{
    margin-top: 0;
}

.category-title{
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 15px;
    color: var(--primary-color);
}

.recent-row, .popular-row{
    width: 100%;
    display: flex;
    gap: 4px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.movie{
    height: 370px;
    width: 19%;
    overflow: hidden;
    border-radius: 8px;
    background: var(--main-color);
    padding: 8px;
    margin-bottom: 30px;
}

.movie a{
    text-decoration: none;
}

.movie a:hover .movie-img-box img{
    width: 105%;
}

.movie-link-box{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.movie-img-box{
    width: 100%;
    height: 85%;
    border-radius: 6px;
    overflow: hidden;
}

.movie-img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.movie-title-box p{
    font-size: 15px;
    font-weight: 700;
    color: var(--primary-color);
    line-height: 1.4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
    margin-top: 8px;
}

.show-more-btn-box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.show-more-btn-box a{
    background: var(--main-color);
    color: var(--primary-color);
    padding: 12px 30px !important;
    font-weight: 700;
    border: 1px solid var(--main-color) !important;
    margin-bottom: 30px;
    text-decoration: none;
}

.recent-movies{
    padding-bottom: 0px !important;
}

.show-more-btn-box a:hover{
    background: transparent;
}

@media only screen and (max-width: 888px){

    .popular-row, .recent-row{
        flex-wrap: wrap;
    }

    .movie{
        width: 49% !important;
    }
}

@media only screen and (max-width: 500px){
    .movie{
        margin-bottom: 15px;
    }

    .movie-img-box{
        height: 81%;
    }
}

@media only screen and (max-width: 460px){
    .movie{
        height: 300px;
    }
}


/* ----- Footer ------ */

footer{
    background: #262626;
    margin-top: 50px;
}

.footer-box{
    width: 85%;
    margin: auto;
    display: flex;
    padding: 40px 30px 20px 30px;
    justify-content: space-evenly;
    gap: 100px;
}

.footer-left{
    width: 40%;
}

.footer-about-box{
    display: flex;
    gap: 20px;
    height: 120px;
    padding: 5px;
}

.footer-about-img-box{
    width: 40%;
    overflow: hidden;
    padding: 2px !important;
    /* border: 1px solid var(--main-color) !important; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-about-img-box img{
    width: 100%;
    object-fit: cover;
    margin: 0 !important;
}

.footer-about-text{
    width: 60%;
}

.footer-about-text h3{
    margin-bottom: 14px;
}

.footer-about-text p{
    color: #ababab;
    font-size: 15px;
    line-height: 22px;
}

.footer-box .footer-col .footer-links-box{
    padding: 10px 5px;
}

.footer-box .footer-col .footer-links-box a{
    display: block;
    line-height: 23px;
    font-size: 14px;
    color: #ababab;
    transition: 0.3s ease-in-out;
}

.footer-box .footer-col .footer-links-box a:hover{
    color: #e9467a;
}

.copyright{
    border-top: 1px solid #3f3f3f !important;
    width: 100%;
    text-align: center;
    padding: 25px 0px;
    background: rgb(38, 38, 38);
    font-weight: 300;
    margin-top: 20px;
}

.copyright i { color: rgb(255, 0, 79); }

.copyright p a{
    color: #e9467a;
    transition: 0.3s ease-in-out;
    text-decoration: none !important;
}

.copyright p a:hover{
    color: #b54769;
}

@media only screen and (max-width: 900px){
    .footer-box{
        flex-wrap: wrap;
        gap: 40px 100px;
    }

    .footer-left{
        width: 90%;
        margin: 0 !important;
    }
}

@media only screen and (max-width: 600px){
    .footer-box{
        gap: 30px;
        flex-direction: column;
    }

    .footer-left{
        width: 100%;
    }
}

@media only screen and (max-width: 400px){

    .movie{
        height: 250px;
    } 

    .movie p{
        font-size: 12px !important; 
    }

    .movie-img-box{
        height: 80%;
    }

    .footer-left{
        height: auto;
    }

    .footer-about-box{
        flex-direction: column;
        height: auto;
        align-items: center;
        gap: 5px;
        margin-bottom: 20px;
    }

    .footer-about-box div{
        width: 100%;
        text-align: center;
    }
}

/* Movie Page */


.movie-hero-section{
    background-image: none;
    height: auto;
    border-bottom: 1px solid var(--main-color) !important;
}

.movie-section-main{
    /* border: 1px solid #000; */
}

.movie-section{
    /* border: 1px solid #000; */
    width: 90%;
    max-width: 1550px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 30px 10px;
    gap: 15px;
}

.movie-left, .movie-right{
    /* border: 1px solid #000; */
}

.movie-left{
    width: 70%;
}

.movie-left #movieTitle{
    margin-bottom: 15px;
    line-height: 30px;
}

#movieDescription{
    line-height: 23px;
    font-size: 14px;
    color: #ababab;
}

.movie-info-box{
    margin-top: 50px;
}

.movie-info-box h3{
    margin-bottom: 10px;
    color: var(--main-color);
}

.movie-info-box p{
    margin-left: 5px;
    font-size: 15px;
    color: #ababab;
    line-height: 25px;
}

.movie-info-box p b{
    color: #f5f5f5;
}

.movie-info-box span{
    color: #ababab;
    font-size: 14px;
}

.movie-info-box #language{
    color: var(--main-color);
}

.screenshot-box-main{
    margin-top: 40px;
}

.screenshot-box-main h3{
    text-align: center;
    margin-bottom: 20px;
    color: var(--main-color);
}

.screenshot-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ss-boxes{
    width: 49%;
    height: 225px;
    overflow: hidden;
    margin-bottom: 20px;
    border-radius: 6px;
    cursor: pointer;
}

.ss-boxes img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.download-links-box-main{
    border: 1px solid #000;
    margin-top: 40px;
}

.download-links-box-main h3{
    color: var(--main-color);
    text-align: center;
    margin-bottom: 20px;
}





.movie-right{
    width: 30%;
}

.movie-right .movie-right-content{
    display: flex;
    justify-content: right;
}

.movie-poster{
    width: 90%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
    background: var(--main-color);
}

.movie-poster img{
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}